body {
  margin: 0;
  background-color: #fafafa;
}


@font-face {
  font-family: 'gotham';
  src: local('gotham'), url('./fonts/gotham/gotham.woff2') format('woff2');
}

@font-face {
  font-family: 'gotham-bold';
  src: local('gotham-bold'), url('./fonts/gotham/gothambold.ttf') format('truetype');
}

@font-face {
  font-family: 'gotham-light';
  src: local('gotham-light'), url('./fonts/gotham/gothamlight.ttf') format('truetype');
}
